<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">VShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Product <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input type="search" id="searchName" (ngModelChange)="searchProduct(key.value)" #key="ngModel" name="key"
                ngModel class="form-control mr-sm-2" placeholder="Search products..." required>
        </form>
    </div>
</nav>
<div class="container" id="main-container">
    <div class="row mt-1 ">
        <div *ngFor="let product of products" class="col-md-6 col-xl-3 pb-1">
            <div class="card m-b-30  ">
                <div class="card-body row  text-white ">
                    <div class="col-12">
                        <a href=""><img src="{{product?.imageUrl}}" alt="" class="img-fluid  w-60"></a>
                    </div>

                </div>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item">
                        <span class="float-left text-info">Name :</span>
                        <span class="float-right font-weight-bold"> {{product?.prodName}}</span>
                    </li>
                    <li class="list-group-item">
                        <span class="float-left text-danger">Price :</span>
                        <span class="float-right"> <i class="fa fa-usd text-primary" aria-hidden="true"></i>
                            {{product?.prodPrice}}</span>
                    </li>
                </ul>
                <div class="card-footer  ">
                    <div class=" btn-group btn-group-sm  ">
                        <a (click)="onOpenModal(product, 'edit')" class="btn btn-primary " data-placement="top"
                            data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(product, 'delete')" class="btn btn-danger " data-placement="top"
                            data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddProuct(addForm)">
                    <div class="form-group">
                        <label for="prodName">Name</label>
                        <input type="text" ngModel name="prodName" class="form-control" id="prodName" placeholder="Name"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="prodPrice">Price</label>
                        <input type="number" ngModel name="prodPrice" class="form-control" id="prodPrice"
                            placeholder="Price" required>
                    </div>

                    <div class="form-group">
                        <label for="imageUrl">Image URL</label>
                        <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl"
                            placeholder="Image URL" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-product-form" class="btn btn-secondary"
                            data-dismiss="modal">Close</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog" aria-labelledby="productEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateProductModalLabel">Edit Product [{{product?.prodName}}]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" ngModel="{{product?.prodName}}" name="prodName" class="form-control"
                            id="prodName" aria-describedby="emailHelp" placeholder="Name">
                    </div>
                    <input type="hidden" ngModel="{{product?.id}}" name="id" class="form-control" id="id"
                        placeholder="number">
                    <input type="hidden" ngModel="{{product?.prodCode}}" name="prodCode" class="form-control"
                        id="prodCode" placeholder="prodCode">
                    <div class="form-group">
                        <label for="prodPrice">Price</label>
                        <input type="number" ngModel="{{product?.prodPrice}}" name="prodPrice" class="form-control"
                            id="email" placeholder="Price">
                    </div>
                    <div class="form-group">
                        <label for="phone">Image URL</label>
                        <input type="text" ngModel="{{product?.imageUrl}}" name="imageUrl" class="form-control"
                            id="imageUrl" placeholder="Image URL">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                        <button (click)="onUpdateProduct(editForm.value)" data-dismiss="modal"
                            class="btn btn-primary">Save
                            changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Delete Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete product [{{product?.prodName}}] with [ {{product?.id}}]?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="onDeleteProduct(product?.id)" class="btn btn-danger"
                        data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Notification for no product -->
<div *ngIf="products?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">NO PRODUCTS!</h4>
        <p>No Products were found.</p>
    </div>
</div>